<ion-content>
  
  <div class="login_head">
    <!-- <ion-icon routerLink="/sign-in" name="arrow-back-outline" class="forget_back"></ion-icon> -->
    <div class="head_text">
		
		Reset Password
	
    </div>
  </div>
<div class="curve_box">
  <div class="ion-padding">
    <p  class="logn_title center forget_inst">Please enter the code you were sent by email.You may need to wait a few moments before it arrives.</p><br>
    <div class="form">
	  <form name="form" (ngSubmit)="f.form.valid && resetPassword(f)" #f="ngForm" method="post">
      <div class="single_field">
        <div class="form_label">Code</div>
        <input  [(ngModel)]="code"  #codes="ngModel" [ngClass]="{ 'is-invalid': f.submitted && codes.invalid }" required  name="code" placeholder="Enter code">
		    <div *ngIf="f.submitted && codes.invalid" class="invalid-feedback">
            <div *ngIf="codes.errors.required">Code is required</div>
        </div>
      </div>
      <div class="single_field">
        <div class="form_label">New Password</div>
        <input  [(ngModel)]="new_pass"  #new_passwprd="ngModel" [ngClass]="{ 'is-invalid': f.submitted && new_passwprd.invalid }" required  name="new_pass" placeholder="Enter new password">
		    <div *ngIf="f.submitted && new_passwprd.invalid" class="invalid-feedback">
            <div *ngIf="new_passwprd.errors.required">New password is required</div>
        </div>
      </div>
      <div class="single_field">
        <div class="form_label">Re-type Password</div>
        <input  [(ngModel)]="c_pass"  #c_password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && c_password.invalid }" required  name="c_pass" placeholder="Enter re-type password">
		    <div *ngIf="f.submitted && c_password.invalid" class="invalid-feedback">
            <div *ngIf="c_password.errors.required">Re-type password is required</div>
        </div>
      </div>
	 
      <div class="single_field" style="text-align: center;">
        <ion-button class="theme_btn" type="submit">
           Submit
        </ion-button>
      </div>
    </form>
    </div>
  </div>
</div>  

</ion-content>
