<ion-header>
  <ion-toolbar class="custom_header">
    <ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title>Upload Signature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="form upload_form_div">
        <div class="single_field">
          <label>Upload Signature</label>
        </div>
        <div class="single_field img_div">
          <label for="file-input">
          <img *ngIf="img1!=''" [src]="img1" class="logo_img signature1"/>
          <img *ngIf="profile.signature && img1=='' " src="{{baseURI}}{{profile.signature}}"  class="logo_img signature1"/>         
          <img *ngIf="!profile.signature && img1==''" src="assets/images/signature1.jpg"  class="logo_img signature"/>            
          <ion-icon name="add-circle-outline" class="signature_plus"></ion-icon>
          </label>          
          <input id="file-input" type="file" (change)="fileChange($event)"/>
        </div>
    </div>
  </div>
</ion-content>
