<ion-header>
  <ion-toolbar class="custom_header">
    <ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="form">
	  <form name="form" id="changePasswordform" (ngSubmit)="f.form.valid && changePassword(f)" #f="ngForm" method="post">
      <div class="single_field">
        <div class="form_label">Old Password</div>
        <input  [(ngModel)]="old_pass"  #old_p="ngModel" [ngClass]="{ 'is-invalid': f.submitted && old_p.invalid }" required  name="old_pass" placeholder="Enter old password">
		    <div *ngIf="f.submitted && old_p.invalid" class="invalid-feedback">
            <div *ngIf="old_p.errors.required">Old password is required</div>
        </div>
      </div>
      <div class="single_field">
        <div class="form_label">New Password</div>
        <input  [(ngModel)]="new_pass"  #new_passwprd="ngModel" [ngClass]="{ 'is-invalid': f.submitted && new_passwprd.invalid }" required  name="new_pass" placeholder="Enter new password">
		    <div *ngIf="f.submitted && new_passwprd.invalid" class="invalid-feedback">
            <div *ngIf="new_passwprd.errors.required">New password is required</div>
        </div>
      </div>
      <div class="single_field">
        <div class="form_label">Re-type Password</div>
        <input  [(ngModel)]="c_pass"  #c_password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && c_password.invalid }" required  name="c_pass" placeholder="Enter re-type password">
		    <div *ngIf="f.submitted && c_password.invalid" class="invalid-feedback">
            <div *ngIf="c_password.errors.required">Re-type password is required</div>
        </div>
      </div>
      <div class="single_field" style="text-align: center;">
        <ion-button class="theme_btn" type="submit">
           Submit
        </ion-button>
      </div>
    </form>
    </div>
  </div>
</ion-content>
