<ion-content>
  
  <div class="login_head">
    <ion-icon routerLink="/sign-in" name="arrow-back-outline" class="forget_back"></ion-icon>
    <div class="head_text">
		
		Forget Password
	
    </div>
  </div>
<div class="curve_box">
  <div class="ion-padding">
    <p  class="logn_title center forget_inst">Forgotten your password ? Enter your email address below , and we'll email instruction for setting a new one.</p><br>
    <div class="form">
	<form name="form" (ngSubmit)="f.form.valid && forgetPassword(f)" #f="ngForm" method="post">
      <div class="single_field">
        <div class="form_label">Email</div>
        <input  [(ngModel)]="email" #email_id="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email_id.invalid }" required email   name="email" placeholder="Enter email">
		    <div *ngIf="f.submitted && email_id.invalid" class="invalid-feedback">
            <div *ngIf="email_id.errors.required">Email is required</div>
            <div *ngIf="email_id.errors.email">Must be a valid email address</div>
        </div>
      </div>
	 
	 
      <div class="single_field" style="text-align: center;">
        <ion-button class="theme_btn" type="submit">
           Submit
        </ion-button>
      </div>
    </form>
    </div>
  </div>
</div>  

</ion-content>
